<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Decimal Widgets</title>
</head>
<body>

{{ form.as_p }}

{{ form.media.js }}

<hr>

<script>
  const result = document.getElementById("id_result");
  const dec1 = document.getElementById("id_decimal1");
  const dec2 = document.getElementById("id_decimal2");

  function sum() {
    result.mask.value = dec1.mask.value + dec2.mask.value;
  }

  dec1.addEventListener('input', sum)
  dec2.addEventListener('input', sum)
</script>
</body>
</html>
